html , body {
    background-color: #232429;
    color: #99adfc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    font-size: 18px;
    text-shadow: 1px 2px 3px #000000;
    overflow-x: hidden;
    max-width: 100%;

    

    
}

.header {
    position: relative;
    background-color: #1b1b1d;
    border-bottom: 3px solid #6b7eca;
    display: flex;
    background-image: url("Fundo.jpg");
    background-size: cover;
    background-position: center;
    height: 150px;

}

#logobarber {
    position: absolute;
    left: 23.5px;
    padding-left: 0;
    width: 140px;
    height: auto;
    

}

#boas {
    position: absolute;
}


.arealogin {
    position: absolute;
    right: 10px;
    top: 12px;
    color: rgb(184, 207, 236);
    font-size: bold;
    font-weight: 530;
    
    
}

.arealogin button{
    align-items: center;
    border-radius: 70px;
    color: #000000;
    background-color: #99adfc;
    border: 0;
    width: 150px;
    height: 25px;
    font-weight: bold;
    cursor: pointer;
}

#usuario {
    position: relative;
    top: 0.5px;
}

#logoutgoogle {
    width: 70px;
    height: 19px;
}



.rodape {
    color: #4e588b;
    position: absolute;
    left: 20px;
    bottom: 1px;
    top: 118px;
    font-weight: 400;
    font-size: 13px;
    


}

h2 {
    color: #7994ff;
    text-align: center;
    padding-top: 26px;
    font-size: 29.1px;
    text-shadow: 5px 5px 10px #020a25;
    left: 178px;
    font-weight: 498;
}

h3 {
    text-align: center;
}

h4 {
    text-align: center;
    
}

a {
    color: rgb(210, 219, 255);
    
}

.refs {
    display: flex;
    justify-content: center;
    align-items: center;
    
    gap: 15px;

    
}

.refs h5 {
    
    text-align: center;
    
}



#local {
    width: 370px;
    border-radius: 97px;
    transition: opacity 0.7s ease-in-out;
    box-shadow: 2px 2px 120px #000000;
    

}

#cortes {
    width: 370px;
    border-radius: 97px;
    transition: opacity 0.7s ease-in-out;
    box-shadow: 2px 2px 120px #000000;
    


}

.aba2 {
    margin-top: 18px;
    background-image: url(Fundo2.png);
    background-size: cover;
    border-top: 3px solid #6b7eca;
    

}

#h4aba2 {
    font-size: 18px;
    
}


.icones {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 130px;
    
}

#calendario {
    position: relative;
    right: 0px;
    padding-left: 172px;
    padding-top: 34px;
    width: 236px;
    right: 61px;
    
}

#pessoa {
    left: 0px;
    padding-left: 110px;
    width: 260px;
}

.frases {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 170px;
    padding-bottom: 13px;
    padding-top: 0;
    
    

}

.aba3 {
    border-top: 3px solid #6b7eca;

}

.produtoscatalogo {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 10px;

}

#produtos1 {
    transition: opacity 0.7s ease-in-out;
    box-shadow: 0px 0px 120px #000000;
    border-radius: 90px;
}

#produtos2 {
    transition: opacity 0.7s ease-in-out;
    box-shadow: 0px 0px 120px #000000;
    border-radius: 90px;
}

#produtos3 {
    transition: opacity 0.7s ease-in-out;
    box-shadow: 0px 0px 120px #000000;
    border-radius: 90px;
}

.nomesprodutos {
    display: flex;
    justify-content: center;
    gap: 156px;

}

.frasecatalogo {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 20px;
    margin-bottom: 7px;
}

.aba4 {
    background-image: url(Atendimento.png);
    background-position: center;
    background-size: cover;
    border-top: 3px solid #6b7eca;
}

.horarioicone {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

#horario {
    margin-bottom: 5px;
    width: 320px;
}

#horariopessoa {
    width: 370px;
}


.voltar {
    display: flex;
    justify-content: center;
    
}

.voltar button {
    background: none;
    border: 0;
    cursor: pointer;
    margin-bottom: 6.5px;
    margin-top: 0px;
    top: 0px;
}

.entrar {
    position: relative;
    display: flex;
    justify-content: center;
}

.entrar button{
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 90px;
    color: rgb(210, 219, 255);
    background-color: #4d62b4;
    border: 0;
    width: 370px;
    height: 45px;
    font-weight: 600;
    cursor: pointer;
    font-size: 17px;
}

@media (max-width: 768px) {
.header {
    flex-direction: column;
    padding-bottom: 0px;
    height: 130px;
}

#logobarber {
    display: flex;
    position: absolute;
    flex-direction: column;
    padding-bottom: 0;
    top: 10px;
    left: 11.2px;
    width: 110px;
    height: auto;
    

}

#boas {
    position: absolute;
    padding-bottom: 0;
    top: 16px;
    font-size: 16px;
    left: 132px;

    
    
}

.rodape {
    left: 9px;
    top: 99px;
    
    
}

.arealogin {
    position: absolute;
    right: 10px;
    margin-top: 12px;
    color: rgb(184, 207, 236);
    font-size: 13.4px;
    font-weight: 530;
    top: 0px;

    
}

.arealogin button{
    align-items: center;
    border-radius: 70px;
    color: #000000;
    background-color: #99adfc;
    border: 0;
    width: 120px;
    height: 18.4px;
    font-weight: 520px;
    cursor: pointer;
    font-size: 11px;
    
    
}

#logoutgoogle {
    width: 60px;
    height: 18.4px;

}

.fraseplataforma {
    font-size: 8.2px;

}


#agendar {
    width: 260px;
    font-size: 14.5px;
    height: 32px;
}

.suporte {
    display: flex;
    justify-content: center;
    font-size: 14px;

}

.refs {
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.ref-item {
    align-items: center;
    text-align: center;
    font-size: 14px;
}

#local , #cortes {
    width: 160px;
    border-radius: 59px;
    
}

.aba2 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    
}

#h2aba2 {
    margin-top: 0;
    font-size: 22px;
}

#h4aba2 {
    margin-top: 0;
    font-size: 10.5px;
    width: 290px;
}

.icones {
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
    gap: 0px;
    margin-right: 33px;
    
}

#pessoa {
    position: relative;
    width: 115px;
    left: 24px;
    
    
}

#calendario {
    position: relative;
    width: 95px;
    margin-right: 25px;
    bottom: 10.3px;
    
    
    
}

.frases {
    font-size: 8px;
    gap: 45px;

}

.somos {
    position: relative;
}

.aba3 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
}

#h2aba3 {
    margin-top: 0;
    font-size: 22px;
}

.produtoscatalogo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9px;
    
}

#produtos1, #produtos2 , #produtos3 , #produtos4 , #produtos5 , #produtos6 {
    width: 110px;
    border-radius: 32px;
    

}

.nomesprodutos {
    position: absolute;
    font-size: 9px;
    gap: 25.6px;
    display: flex;
    top: 214px;
}

.frasecatalogo {
    font-size: 12.5px;
    width: 430px;
}

.aba4 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    margin-bottom: 0px;


}


#h2aba4 {
    margin-top: 0;
    font-size: 22px;
    margin-bottom: 0px;
}

.horarioicone {
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 0px;
}

#horariopessoa {
    position: relative;
    width: 185px;
    left: 20px;
}

#horario{
    position: relative;
    width: 210px;

}

.voltar {
    position: relative;
    bottom: 19px;
    margin-bottom: 0px;
    
}





}